# Data files
*.json
*.pkl

# Models
models/*.pkl
models/*.joblib
models/*.h5

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
venv/
env/

# IDE
.vscode/
.idea/
*.csv
/.quarto/
**/*.quarto_ipynb
.cache
.ipython

# Ignore raw data and images from data directory
data/raw_data/*
data/images/*
data/processed_data/*

# MLflow file-based tracking store + artifacts
mlruns/
mlartifacts/

# OS
.DS_Store
Thumbs.db